@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
    height: 100vh;
}

.service-view .swiper-button-prev,
.service-view .swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d1c4e9;
    &:hover{
        background-color: #c0afdf;
    }

    &.swiper-button-disabled{
        display: none;
    }
}

.service-view .swiper-button-prev{
      left: 0%;
    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: transparent #6a1b9a transparent transparent;
        margin-right: 35%;
    }
}

.service-view .swiper-button-next {
    right: 0%;
    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: transparent transparent transparent #6a1b9a;
        margin-left: 35%;
    }
}

.service-view .swiper-scrollbar {
    display: none;

    @media screen and (max-width: 700px) {
        display: block;
        border-radius: 0;

        &.swiper-scrollbar-horizontal {
            width: 40%;
            height: 11px;
            left: 30%;
            border-radius: 0;
        }

        .swiper-scrollbar-drag{
            border-radius: 0;
            background-color: theme('colors.primary.100');
        }
    }
}

#service-item .swiper-button-prev,
#service-item .swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d1c4e9;
    &:hover{
        background-color: #c0afdf;
    }
}

#service-item .swiper-button-prev {
    left: 20%;
    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: transparent #6a1b9a transparent transparent;
        margin-right: 35%;
    }

    @media screen and (max-width: 1480px){
        left: 15%;
    }

    @media screen and (max-width: 1200px){
        left: 5%;
    }

    @media screen and (max-width: 920px){
        left: 2%;
    }

     @media screen and (max-width: 800px){
        top: 40%
    }

     @media screen and (max-width:490px){
        top: 30%
     }

}

#service-item .swiper-button-next {
    right: 20%;
    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: transparent transparent transparent #6a1b9a;
        margin-left: 35%;
    }

    @media screen and (max-width: 1480px){
        right: 15%;
    }

    @media screen and (max-width: 1200px){
        right: 5%;
    }

     @media screen and (max-width: 920px){
        right: 2%;
    }

    @media screen and (max-width: 800px){
        top: 40%
    }
    
     @media screen and (max-width:490px){
        top: 30%
     }
}

.home-view{
    @media screen and (max-width: 1200px) {
        .input-name, .input-phone{
            grid-column: span 2 / span 2;
        }
    }
}

.contact-view{
    @media screen and (max-width: 700px) {
        .input-name, .input-phone{
            grid-column: span 2 / span 2;
        }
    }
    input{
        outline: 1px solid theme('colors.primary.100');
    }

    button{
        margin: 0 auto;
        width: 208px;
    }
}

.we-serve .swiper-button-prev,
.we-serve .swiper-button-next{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d1c4e9;
    &:hover{
        background-color: #c0afdf;
    }

    &.swiper-button-disabled{
        display: none;
    }
}

.we-serve .swiper-button-prev{
      left: 0%;
    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: transparent #6a1b9a transparent transparent;
        margin-right: 35%;
    }
}

.we-serve .swiper-button-next{
    right: 0%;
    &::after {
        content: "";
        display: inline-block;
        width: 0;
        height: 0;
        border: 8px solid;
        border-color: transparent transparent transparent #6a1b9a;
        margin-left: 35%;
    }
}
