<template>
    <div class="inline-block relative w-full">
        <span v-if="!!errorMessage" class="block text-[red] absolute mt-9 ml-1 err-msg">{{ errorMessage }}</span>
        <label v-if="label !== ''" :class="{ 'form-label': isRequired }" class="label">
            {{ label }}
        </label>
        <input :type="type" name="" :value="modelValue" :placeholder="placeholder" :maxlength="maxlength"
            :disabled="disabled" :autocomplete="autocomplete"
            class="rounded-[20px] pl-[100px] pr-4 py-2 w-full"
            :class="{ 'mb-6': !!errorMessage }"
            @input="$emit('update:modelValue', ($event.target as HTMLInputElement).value)">
    </div>
</template>

<script setup lang="ts">
import { ref, defineComponent } from 'vue';

const emits = defineEmits(['update:modelValue', 'blur', 'input', 'change']);
const props = defineProps({
    name: {
    },
    value: {
    },
    type: {
        type: String,
        default: 'text'
    },
    placeholder: {
        type: String,
        default: ''
    },
    modelValue: {
        // type: String,
        default: ref()
    },
    errorMessage: {
        type: String,
        default: ''
    },
    maxlength: {
        type: Number,
        default: 100
    },
    autocomplete: {
        type: String,
        default: 'off'
    },
    disabled: {
        type: Boolean,
        default: false
    },
    label: {
        type: String,
        default: ''
    },
    isRequired: {
        type: Boolean,
        default: false
    }
});

defineComponent({
    name: 'InputComponent',
});
</script>

<style lang="scss" scoped>
.form-label {
    &::before {
        content: '*';
        color: red;
        margin-right: 3px;
    }
}

input{
    color: black;
    &:focus{
        outline: 2px solid theme('colors.primary.100');
    }
}

.label{
    position: absolute;
    top: 8px;
    left: 8px;
    color: black;
    width: 90px;

    &:after{
        content: '|';
        margin-left: 8px;
    }
}
</style>
