<template>
    <main class="relative overflow-hidden py-10 max-[700px]:pt-0">
        <img class="absolute -top-[3%] -z-10 max-[700px]:invisible" src="@/assets/images/image/banner-about.svg">
        <img class="invisible absolute top-0 left-0 -z-10 max-[700px]:visible max-[700px]:w-[2100px] max-[700px]:max-w-none max-[700px]:-left-[320px]" src="@/assets/images/image/bgc-corporate.svg">

        <section class="py-20 max-[700px]:py-14 max-[700px]:min-h-[700px]">
            <div class="w-full flex justify-center items-center max-[700px]:flex-col max-[700px]:px-5 relative">
                <div class="text-right mr-[10%] max-[700px]:self-start max-[700px]:text-left">
                    <h1
                        class="text-[72px] text-primary-100 font-thin mb-5 max-[880px]:text-[60px] ">
                        About Us</h1>
                    <p class="text-[28px] text-primary-100 font-thin ">WHO WE
                        ARE?</p>
                    <div
                        class="font-semibold text-[30px]">
                        <p>毅聲科技</p>
                        <p>提供客戶長期</p>
                        <p>且緊密的合作</p>
                        <p>與服務</p>
                    </div>
                </div>
                <img src="@/assets/images/image/pic-banner2.png"
                    class="max-[880px]:w-[300px] max-[700px]:self-end max-[700px]:absolute max-[700px]:top-[240px] max-[700px]:-right-[10px]">
            </div>
        </section>

        <section class="py-5 mb-20">
            <ul
                class="w-[95%] mx-auto flex justify-between items-start text-center max-[1140px]:w-[95%] max-[660px]:flex-col  max-[660px]:w-[60%]">
                <li class="w-[15%] max-[660px]:w-full max-[660px]:mb-10">
                    <p
                        class="text-primary-100 text-[40px] max-[1140px]:text-[30px] max-[880px]:text-[20px] max-[660px]:text-[40px]">
                        <span
                            class="text-[65px] max-[1140px]:text-[55px] max-[880px]:text-[40px] max-[660px]:text-[65px]">{{
                                nums.three }}</span>大
                    </p>
                    <p
                        class="font-semibold text-[32px] max-[1140px]:text-[26px] max-[880px]:text-[20px] max-[660px]:text-[32px]">
                        核心業務</p>
                    <p class="font-semibold max-[880px]:text-[14px] max-[660px]:text-base">客服中心/專案/AIOT</p>
                </li>

                <li class="w-[15%] max-[660px]:w-full max-[660px]:mb-10">
                    <p
                        class="text-primary-100 text-[40px] max-[1140px]:text-[30px] max-[880px]:text-[20px] max-[660px]:text-[40px]">
                        <span
                            class="text-[65px]  max-[1140px]:text-[55px] max-[880px]:text-[40px] max-[660px]:text-[65px]">{{
                                nums.five }}</span>大
                    </p>
                    <p
                        class="font-semibold text-[32px] max-[1140px]:text-[26px] max-[880px]:text-[20px] max-[660px]:text-[32px]">
                        代理產品</p>
                    <router-link :to="ROUTING_PATH.SERVICE" @click="toTop"
                        class="font-semibold underline max-[880px]:text-[14px] max-[660px]:text-base">
                        更多資訊
                    </router-link>
                </li>

                <li class="w-[15%] max-[660px]:w-full max-[660px]:mb-10">
                    <p
                        class="text-primary-100 text-[65px] max-[1140px]:text-[55px] max-[880px]:text-[40px] max-[660px]:text-[65px]">
                        >{{ nums.twFive }}</p>
                    <p
                        class="font-semibold text-[32px] max-[1140px]:text-[26px] max-[880px]:text-[20px] max-[660px]:text-[32px]">
                        金融保險客戶</p>
                </li>

                <li class="w-[15%] max-[660px]:w-full max-[660px]:mb-10">
                    <p
                        class="text-primary-100 text-[65px] max-[1140px]:text-[55px] max-[880px]:text-[40px] max-[660px]:text-[65px]">
                        >{{ nums.oneFifty }}</p>
                    <p
                        class="font-semibold text-[32px] max-[1140px]:text-[26px] max-[880px]:text-[20px] max-[660px]:text-[32px]">
                        專案</p>
                </li>

                <li class="w-[15%] max-[660px]:w-full">
                    <p
                        class="text-primary-100 text-[65px] max-[1140px]:text-[55px] max-[880px]:text-[40px] max-[660px]:text-[65px]">
                        {{ nums.thirtyFive }}+</p>
                    <p
                        class="font-semibold text-[32px] max-[1140px]:text-[26px] max-[880px]:text-[20px] max-[660px]:text-[32px]">
                        員工</p>
                </li>
            </ul>
        </section>

        <section class="story">
            <div class="mr-20 tracking-[0.2em] max-[1050px]:mr-14 max-[880px]:mr-10 max-[790px]:mr-0 max-[790px]:mb-10">
                <p class="text-[24px] text-primary-100 ">Our Story</p>
                <p class="text-[36px] font-semibold ">有關毅聲&默科</p>
            </div>

            <div class="max-[790px]:w-full">
                <ul class="max-[790px]:w-full">
                    <li v-for="(story, i) in storyData" :key="i" class="tracking-[0.2em] flex items-center mb-5">
                        <span
                            class="bg-[#D1C4E9] font-semibold text-[#6A1B9A] text-center pl-2 mr-3 leading-[40px] align-middle rounded-full min-w-[40px] min-h-[40px] basis-[40px]">{{
                                i + 1 }}.</span>
                        <span
                            class="text-xl max-w-[580px] max-[1050px]:text-lg max-[1050px]:max-w-[480px] max-[880px]:max-w-[380px] max-[880px]:text-base max-[790px]:text-lg max-[790px]:max-w-none">{{
                                story }}</span>
                    </li>
                </ul>
            </div>
        </section>

        <section class="concept">
            <div class="max-w-[740px] mr-20 tracking-[0.2em] leading-loose flex flex-col items-center max-[790px]:mr-0">
                <p class="mb-20 w-full max-[447px]:mb-10">
                    「開發領先業界的軟體商品」是毅聲科技成立的宗旨，「在專業的前提下顧及人性化的操作介面」更是我們開發商品時的最高要求，這也是毅聲科技可以在短短的時間裏能贏得眾多客戶採用的原因。「提供客戶長期且緊密的合作與服務」是我們的職志。
                </p>

                <ul class="flex w-[95%] justify-between max-[660px]:flex-col">
                    <li v-for="(concept, i) in conceptData" :key="i" class="max-[660px]:w-fit mx-auto max-[660px]:mb-10">
                        <div class="content-circle w-[200px] h-[200px] max-[1150px]:w-[150px] max-[1150px]:h-[150px] max-[905px]:w-[120px] max-[905px]:h-[120px] max-[790px]:w-[180px] max-[790px]:h-[180px] max-[660px]:w-[200px] max-[660px]:h-[200px]"
                            :style="{
                                backgroundImage: 'url(' + concept.pic + ')', backgroundRepeat: 'no-repeat', backgroundPosition: 'center', backgroundSize: 'contain'
                            }">
                            <p class="hidden">{{ concept.content }}</p>
                        </div>
                    </li>

                </ul>
            </div>

            <div class="min-w-[166px] tracking-[0.2em]  max-[880px]:mr-10 max-[790px]:mr-0 max-[790px]:mb-10 max-[790px]:w-[263px] max-[790px]:text-right">
                <p class="text-[24px] text-primary-100 ">Our Concept</p>
                <p class="text-[36px] font-semibold">經營理念</p>
            </div>

        </section>

    </main>
</template>



<script setup lang='ts'>
import { ROUTING_PATH } from '@/consts/routing-path.const';
import { onMounted, ref } from 'vue';

const targetNumbers = ref([3, 5, 25, 150, 35]);
const currentNumbers = ref([1, 1, 1, 1, 1]) // 初始化為1
const nums = ref({ //畫面呈現的
    three: '1',
    five: '1',
    twFive: '1',
    oneFifty: '1',
    thirtyFive: '1'
});


const storyData = ref([
    '毅聲科技成立於民國93年, 另於民國101年成立默科資訊',
    '毅聲專注於Call Center及專案系統的研發',
    '毅聲亦是Call Center雲端平台的代理商&服務商',
    '默科聚焦於新科技, 包含行動裝置應用服務, 社群,應用服務 & AIOT技術的應用服務'
])

const conceptData = ref([{
    pic: 'images/icon/icon-good.svg',
    content: '卓越'
}, {
    pic: 'images/icon/icon-new.svg',
    content: '創新',
}, {
    pic: 'images/icon/icon-heart.svg',
    content: '共成長'
    }]);

function toTop() {
        window.scroll({
        top: 0,
        behavior: "smooth",
    });
    }

onMounted(() => {
     const increment = 1
    const specialIncrement = 5

    const runNums = () => {
        let allReached = true
        currentNumbers.value = currentNumbers.value.map((current, index) => {
            if (current < targetNumbers.value[index]) {
                // 檢查是否應該使用特殊增量
                const newCurrent = (index === 3) ? current + specialIncrement : current + increment

                // 確保不超過目標值
                current = (newCurrent <= targetNumbers.value[index]) ? newCurrent : targetNumbers.value[index]

                allReached = allReached && (current === targetNumbers.value[index])
            }
            return current
        })

        nums.value.three = Math.ceil(currentNumbers.value[0]).toString()
        nums.value.five = Math.ceil(currentNumbers.value[1]).toString()
        nums.value.twFive = Math.ceil(currentNumbers.value[2]).toString()
        nums.value.oneFifty = Math.ceil(currentNumbers.value[3]).toString()
        nums.value.thirtyFive = Math.ceil(currentNumbers.value[4]).toString()

        if (!allReached) {
            requestAnimationFrame(runNums)
        }
    }

    runNums()

});

</script>


<style lang='scss' scoped>
.story {
    background-image: url('@/assets/images/image/bgc-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left -20% center;
    padding: 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;

    @media screen and (max-width: 880px) {
        padding: 100px 15px;
    }

    @media screen and (max-width: 790px) {
        flex-direction: column;
        background-position: left -220px top;
        margin-bottom: 0px;
    }
}

.concept {
    background-image: url('@/assets/images/image/bgc-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right -25% center;
    padding: 100px 45px 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;


    @media screen and (max-width: 880px) {
       padding-right: 20px;
    }

    @media screen and (max-width: 790px) {
        flex-direction: column-reverse;
        background-position: right -220px top;
        margin-bottom: 10px;
        padding: 120px 15px 0;
    }
}

.content-circle {
        &:hover {
            p {
                color: white;
                background-color: rgba(0, 0, 0, 0.5);
                width: 100%;
                height: 100%;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: bold;
                font-size: 24px;
            }
        }
}
</style>