<template>
    <main class="relative pb-20 overflow-hidden">
        <img class="absolute top-0 left-0 -z-10 max-[700px]:w-[2100px] max-[700px]:max-w-none max-[700px]:-left-[320px]" src="@/assets/images/image/bgc-corporate.svg">

        <section class="py-[170px] px-5 max-[1150px]:py-[90px] max-[880px]:py-[80px] max-[700px]:py-10">
            <div class="w-[60%] text-right max-[1150px]:w-fit max-[1150px]:mx-auto  max-[700px]:text-left">
                <h1 class="text-primary-100 text-[72px] font-thin max-[880px]:text-[65px] max-[700px]:text-[70px] max-[700px]:leading-tight max-[475px]:text-[60px]">Corporate Sustainability</h1>
                <p class="text-[28px] max-[880px]:text-[25px] max-[700px]:mt-5 max-[700px]:text-[28px]">企業永續</p>
            </div>
        </section>

        <section class="px-8 mb-10 max-[1150px]:mt-[100px] max-[565px]:px-5">
            <CorporateCard />
        </section>
    </main>
</template>



<script setup lang='ts'>
import CorporateCard from '@/components/CorporateCard.vue';
</script>


<style lang='scss' scoped></style>