<template>
    <main class="relative contact-view overflow-hidden">
        <section class="contact">
            <div
                class="w-[50%] mx-auto text-center tracking-widest relative pb-10 max-[1570px]:w-[60%] max-[1280px]:w-[80%]  max-[1000px]:w-full">
                <img src="@/assets/images/image/pic-mile.svg"
                    class="absolute top-0 right-[7%] max-[775px]:right-[1%] max-[650px]:-right-[6%] max-[650px]:w-[180px]  max-[415px]:w-[150px]">
                <h1 class="text-[24px] text-primary-100">Contact Us</h1>
                <p class="text-[36px] font-semibold mb-6">歡迎洽詢</p>
                <p class="text-base w-[60%] mx-auto max-[1000px]:w-[80%]">若您有任何公司網站架設有相關需求，請留下您的聯絡資訊，我們將儘速與您聯繫，提供全方位服務。</p>
            </div>
        </section>

        <section>
            <div class="contact-area">
                <div
                    class="flex justify-between items-center bg-[#F6F3FB] p-10 max-[700px]:flex-col-reverse max-[700px]:px-5">
                    <div class="w-[45%] flex flex-col justify-between tracking-widest leading-relaxed max-[700px]:w-full">
                        <div class="mb-5">
                            <h2 class="text-[20px]">毅聲科技</h2>
                            <p>地址：220新北市板橋區雙十路二段10號8樓</p>
                            <p>服務電話：(02)6606-6358</p>
                            <p>E-mail: http://mail.easontech.com.tw:81/</p>
                        </div>

                        <div>
                            <p>歡迎直接來電</p>
                            <p>上班時間：週一至週五　9:00-12:00・13:30-18:00</p>
                        </div>
                    </div>

                    <div class="w-[48%] max-[700px]:w-full max-[700px]:mb-8">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.2126354630377!2d121.47404507537627!3d25.026856977820984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab7b40886add%3A0x713c529a45cd4050!2z5q-F6IGy56eR5oqA5pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1697521113824!5m2!1szh-TW!2stw"
                            height="270" style="border:0;" loading="lazy" class="w-full"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>

                </div>
                <div class="bg-white p-10 max-[700px]:px-5">
                    <p class="text-[20px] tracking-widest leading-relaxed">請留下您的聯絡方式．我們會有專人為您服務 <span class="text-sm">（<span
                                :style="{ color: 'red' }">*</span>為必填）</span></p>
                    <div class="w-[85%] mx-auto mt-5 max-[1000px]:w-[95%]">
                        <ContactForm />
                    </div>
                </div>
            </div>
        </section>

        <section class="min-h-[500px] max-[700px]:h-[1000px]"></section>
    </main>
</template>



<script setup lang='ts'>
import ContactForm from '@/components/ContactForm.vue';

</script>

<style lang='scss' scoped>
.contact {
    background-color: #F6F3FB;
    background-image: url('@/assets/images/image/bgc-circle.svg');
    background-repeat: no-repeat;
    background-position: top -140px center;
    padding-top: 80px;
    height: 650px;

    @media screen and (max-width: 700px) {
        padding-top: 120px;

        background-position: top 80px center;
    }

    @media screen and (max-width: 560px) {
        background-size: 300px;
    }
}

.contact-area {
    width: 70%;
    border: 1px solid theme('colors.primary.100');
    margin: 0 auto;
    border-radius: 18px;
    overflow: hidden;
    position: absolute;
    top: 26%;
    left: 15%;

    @media screen and (max-width: 1000px) {
        width: 95%;
        left: 2.5%;
    }

    @media screen and (max-width: 700px) {
        top: 20%;
    }

    @media screen and (max-width: 560px) {
        top: 25%;
    }

}</style>