<template>
    <main class="relative text-primary-100 home-view">
        <img class="bg-img ml-auto -z-10 absolute right-0" src="@/assets/images/image/banner-home.svg">


        <section class="p-2">
            <div class="flex items-center justify-between py-[6%] pl-[8%] max-[916px]:flex-col max-[916px]:pl-2">
                <div class="grow-together">
                    <p
                        class="text-[110px] font-thin pb-8 max-[1501px]:text-[100px] max-[1290px]:text-[90px] max-[1164px]:text-[80px] max-[1038px]:text-[70px] max-[916px]:text-[100px] max-[690px]:text-[80px] max-[562px]:leading-tight">
                        Grow Together</p>
                    <h1 class="text-[30px] font-semibold pb-8 ">毅聲科技陪您一起</h1>
                    <p
                        class="text-[80px] font-thin leading-none pb-1 max-[1501px]:text-[60px] max-[1290px]:text-[50px] max-[1040px]:text-[45px] max-[570px]:text-[45px] max-[465px]:text-[35px] max-[916px]:text-[60px] max-[690px]:text-[50px]">
                        Excellence</p>
                    <p
                        class="text-[80px] font-thin leading-none max-[1501px]:text-[60px] max-[1290px]:text-[50px] max-[1040px]:text-[45px] max-[570px]:text-[45px] max-[465px]:text-[35px] max-[916px]:text-[60px] max-[690px]:text-[50px]">
                        Innovation</p>
                </div>

                <img class="img-man" src="@/assets/images/image/pic-banner.svg">

            </div>

            <div class="flex justify-center">
                <img src="@/assets/images/icon/icon-down.svg"
                    class="hover:scale-150 cursor-pointer transition duration-500 ease-in-out" @click="toService">
            </div>
        </section>

        <section id="service-item" class="py-[100px] max-[800px]:pb-0">
            <div class="flex flex-col items-center mb-20 max-[690px]:mb-0">
                <h2 class="text-[52px] font-thin" id="service-area">Service Item</h2>
                <p class="text-[32px] font-semibold">服務項目</p>
            </div>

            <div class="py-[50px]  max-[490px]:pb-0">
                <ServiceItem />
            </div>
        </section>

        <section class="solution">
            <div class="mt-8 max-[478px]:px-0 max-[478px]:w-full">
                <p class="text-[42px] font-thin leading-none pb-1">CRM & Call</p>
                <p class="text-[42px] font-thin leading-none pb-8">Center Solution</p>
                <p class="text-[24px] w-[380px] max-[478px]:w-full text-black/50 pb-8">資料的匯入輸出，使用者及管理者皆提供完整垂直水平整合需求</p>
                <p
                    class="text-[16px] text-black w-[530px] text-justify leading-loose max-[900px]:w-[450px] max-[795px]:w-[440px] max-[478px]:w-full">
                    毅聲科技提供的客戶關係管理解決方案，可以迅速的提昇您適應市場的變化，最佳解決路徑包括有行銷名單的群組篩選分類、商品線上教育訓練、電話行銷活動的推廣、商品的售後服務、客戶資料庫及商品知識庫的建立、後端資料的有效分析及應用等，服務企業在最短的時間內掌握行銷時機因應市場需求，即時與後端資料庫連線，達到與客戶線上問答對談，協助企業快速成功取得客戶，領先市場贏得先機
                </p>
            </div>

            <img src="@/assets/images/image/pic-woman.png" class="img-woman">
        </section>

        <div class="-mt-6 max-[1200px]:-mt-3 max-[1200px]:px-5 max-[530px]:-mt-[110px]">
            <ul
                class="max-w-[800px] mx-auto text-center flex justify-between py-5 px-10 rounded-[17px] bg-white shadow-[0_4px_10px_0px_rgba(0,0,0,0.15)] hover:scale-105 transition-all max-[530px]:flex-col">
                <li>
                    <h3 class="text-[50px] font-semibold max-[620px]:text-[40px] max-[530px]:text-[50px]">20年</h3>
                    <p class="text-black text-xl">企業經驗</p>
                </li>

                <li class="max-[530px]:my-5">
                    <h3 class="text-[50px] font-semibold max-[620px]:text-[40px] max-[530px]:text-[50px]">25+</h3>
                    <p class="text-black text-xl">客戶支持</p>
                </li>

                <li>
                    <h3 class="text-[50px] font-semibold max-[620px]:text-[40px] max-[530px]:text-[50px]">35+</h3>
                    <p class="text-black text-xl">專業領域人才</p>
                </li>
            </ul>
        </div>

        <section class="my-20 px-[10%] py-20 we-serve">
            <div class="mb-10">
                <h2 class="text-[52px] font-thin">WHO WE SERVE?</h2>
                <p class="text-[48px] w-[340px] font-semibold">橫跨各行各業的成功案例</p>
            </div>

            <div class="mb-2">
                <ServedCompany />
            </div>
        </section>

        <section class="bg-[#F6F3FB] relative px-5 py-10  max-[916px]:px-0">
            <img class="absolute -top-5 left-3 hover:rotate-6 transition-all max-[916px]:hidden" src="@/assets/images/image/pic-mile.svg">
            <div class="flex justify-around items-center max-[916px]:flex-col ">
                <div class="w-[45%] max-[916px]:w-[90%] max-[916px]:mb-10">
                    <ContactForm :show-arrow="true" />
                </div>


                <div class="w-[45%] max-[916px]:w-[90%]">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3615.2126354630377!2d121.47404507537627!3d25.026856977820984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442ab7b40886add%3A0x713c529a45cd4050!2z5q-F6IGy56eR5oqA5pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1697521113824!5m2!1szh-TW!2stw"
                        height="400" style="border:0;" loading="lazy" class="w-full"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </section>
    </main>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import ServedCompany from '@/components/ServedCompany.vue';
import ServiceItem from '@/components/ServiceItem.vue';
import ContactForm from '@/components/ContactForm.vue';



function toService() {
    const serviceArea = document.getElementById('service-area');
    if (serviceArea) {
        serviceArea.scrollIntoView({ behavior: 'smooth' });
    }
}


</script>

<style lang="scss" scoped>
main {
    overflow: hidden;
}

img.bg-img {
    @media screen and (max-width:916px) {
        width: 1000px;
        max-width: none;
    }
}

.img-man {
    width: 50%;

    @media screen and (max-width:916px) {
        width: 70%;
    }

    @media screen and (max-width:690px) {
        width: 600px;
        min-width: 440px;
    }

}

.grow-together {
    @media screen and (max-width:916px) {
        margin-right: 60px;
    }
}

.solution {
    background-image: url('@/assets/images/image/bgc-back.svg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .img-woman {
        width: 40%;
    }

    @media screen and (max-width:1200px) {
        padding: 30px 20px;
    }

    @media screen and (max-width:785px) {
        justify-content: center;

        .img-woman {
            display: none;
        }
    }

    @media screen and (max-width:530px) {
        padding: 0 20px;
        height: 850px;
    }

}




@media screen and (max-width:990px) {


    .we-serve {
        margin-top: 130px;
        padding: 15px 20px;
    }
}


@media screen and (max-width:390px) {
    .we-serve {
        padding: 12px;
    }
}
</style>