<template>
    <main class="py-12 service-view">
        <div class="what-we-do">
            <div>
                <h1 class="text-[42px] text-primary-100 font-thin">What We Do</h1>
                <p class="text-[36px] font-semibold">開發領先業界的軟體商品</p>
            </div>
        </div>

        <section class="mb-20 mt-16">
            <div class="grid grid-cols-2 gap-10 w-[72%] mx-auto max-[916px]:w-[80%] max-[700px]:grid-cols-1">
                <div class="tracking-widest w-full" v-for="(data, i) in infoData">
                    <div class="flex items-center mb-3">
                        <img :src="data.pic" class="w-[97px] mr-5">
                        <div>
                            <p class="text-[48px] text-primary-100">{{ data.num }}</p>
                            <p class="text-[20px] font-semibold">{{ data.title }}</p>
                        </div>
                    </div>

                    <p class="pl-5">{{ data.content }}</p>
                </div>
            </div>
        </section>

        <section class="bg-[#F6F3FB] py-20">
            <div class="w-[80%] mx-auto max-[700px]:w-[95%]">
                <div class="w-[90%] tracking-widest mx-auto flex items-center justify-between max-[1120px]:flex-col">
                    <div class="min-w-[316px] max-[1120px]:mb-10">
                        <p class="text-[42px] text-primary-100 font-thin">Enghouse(CCSP)</p>
                        <h2 class="text-[36px] font-semibold">客服雲端領導者</h2>
                    </div>

                    <ul class="w-[55%] max-[1120px]:w-full">
                        <li v-for="(item, idx) in CCSP" class="flex mb-8 items-center">
                            <span
                                class="bg-[#D1C4E9] text-[#6A1B9A] min-w-[40px] h-[40px] text-center pl-2 mr-3 leading-[40px] align-middle rounded-full font-semibold">{{
                                    idx + 1 }}.</span>
                            <span class="text-lg">{{ item }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <div class="our-projects">
            <div>
                <h1 class="text-[42px] text-primary-100 font-thin">OUR PROJECTS</h1>
                <p class="text-[36px] font-semibold">成功案例</p>
            </div>
        </div>

        <div class="w-[338px] mx-auto flex justify-between items-center text-lg tracking-widest mb-5">
            <p>成功案例</p>
            <label class="switch">
                <input type="checkbox" @click="switchCallCenter">
                <span class="slider"></span>
            </label>
            <p>Call Center成功案例</p>
        </div>

        <section>
            <div>
                <Project :call-center="showCallCenter"/>
            </div>
        </section>
    </main>
</template>



<script setup lang='ts'>
import { ref } from 'vue';
import Project from '@/components/Project.vue';

const showCallCenter = ref(false);

const infoData = ref([{
    pic: 'images/icon/icon-01.svg',
    num: '01',
    title: '套裝產品',
    content: '電話行銷管理系統(Outbound System)、客戶服務管理系統(Inbound System)、CRM客戶關係管理系統、傳真管理系統(FAX Server)、系統整合'
}, {
    pic: 'images/icon/icon-02.svg',
    num: '02',
    title: '專案開發及整合',
    content: '網頁系統開發、網站架設、系統整體委外管理'
}, {
    pic: 'images/icon/icon-03.svg',
    num: '03',
    title: '行動服務應用開發',
    content: '網頁系統開發、網站架設、系統整體委外管理'
}, {
    pic: 'images/icon/icon-04.svg',
    num: '04',
    title: '代理產品',
    content: 'CosmoCom IP Contact Center, Enghouse IVR, FaxBack IP Fax, Sytel PDS'
}, {
    pic: 'images/icon/icon-05.svg',
    num: '05',
    title: '社群服務',
    content: '整合LINE、Facebook、WeChat等社群平台，提供社群行銷及社群客服'
}, {
    pic: 'images/icon/icon-06.svg',
    num: '06',
    title: 'IoT應用服務',
    content: '提供服務於Cloud Platform的IoT整合開發'
}])

const CCSP = ref([
    'CCSP是全球雲端客服中心平台的最佳選擇',
    '我們的合作夥伴在全球擁有1,000多名終端客戶，管理著280,000個客服中心Contact-Center as-a-Service的服務',
    'CCSP平台協助全球服務提供商真正實現全球業務',
    'CCSP完整架構與功能亦支援私有雲及落地建置的服務'
])

function switchCallCenter() {
    showCallCenter.value = !showCallCenter.value
}

</script>


<style lang='scss' scoped>
.what-we-do {
    height: 200px;
    background-image: url('@/assets/images/image/bgc-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 30px center;
    padding-left: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;

    @media screen and (max-width:700px) {
        background-position: left -70px center;
        padding: 0 30px;

        div {
            width: fit-content;
            margin: 0 auto;
        }
    }

}

.our-projects {
    height: 200px;
    background-image: url('@/assets/images/image/bgc-circle.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 30px center;
    padding-right: 8%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    text-align: right;
    margin-top: 50px;
    margin-bottom: 30px;

    @media screen and (max-width:700px) {
        background-position: right -70px center;
        padding: 0 30px;

        div {
            width: fit-content;
            margin: 0 auto;
        }
    }

}

.switch {
    position: relative;
    display: inline-block;
    width: 55px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {
            +.slider {
                background-color: theme('colors.primary.100');
            }
        }
    }

}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(21px);
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: theme('colors.primary.100');
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;

    &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
    }
}
</style>