<template>
    <Form v-slot="{ errors, submitCount, isSubmitting }" :initial-values="contactInfo"
                            class="grid grid-cols-2 gap-4">
                            <div class="input-name">
                                <Field id="name" v-slot="{ field, value, errorMessage }" name="name">
                                    <Input v-bind="field" :model-value="contactInfo.name = value" :error-message="errorMessage"
                                        :label="'姓名'" :isRequired="true" />
                                </Field>
                            </div>

                            <div class="input-phone">
                                <Field id="phone" v-slot="{ field, value, errorMessage }" name="phone">
                                    <Input v-bind="field" :model-value="contactInfo.phone = value" :error-message="errorMessage"
                                        :label="'聯絡電話'" :isRequired="true" />
                                </Field>
                            </div>

                            <div class="col-span-2">
                                <Field id="email" v-slot="{ field, value, errorMessage }" name="email">
                                    <Input v-bind="field" :model-value="contactInfo.email = value" :error-message="errorMessage"
                                        :label="'Email'" :isRequired="true" />
                                </Field>
                            </div>

                            <div class="col-span-2">
                                <Field id="company" v-slot="{ field, value, errorMessage }" name="company">
                                    <Input v-bind="field" :model-value="contactInfo.company = value" :error-message="errorMessage"
                                        :label="'公司名稱'" />
                                </Field>
                            </div>

                            <div class="col-span-2">
                                <Field id="note" v-slot="{ field, value, errorMessage }" name="note">
                                    <Input v-bind="field" :model-value="contactInfo.note = value" :error-message="errorMessage"
                                        :label="'備註'" />
                                </Field>
                            </div>

                            <div class="col-span-2 flex">
                                <button type="button"
                                    class="ml-auto inline-block bg-primary-100 text-white py-2 px-5 rounded-[20px] hover:bg-primary-100/90">
                                    確認送出<span v-if="showArrow" class="ml-4">&#8594;</span>
                                </button>
                            </div>

                        </Form>
</template>



<script setup lang='ts'>
import { Form, Field } from 'vee-validate';
import Input from '@/components/form/Input.vue';
import { defineComponent, ref } from 'vue';

const contactInfo = ref({
    name: '',
    phone: '',
    email: '',
    company: '',
    note: ''
})

const props = defineProps({
    showArrow: {
        type: Boolean,
        default: false
    }
})

defineComponent({
    name: 'ContactFormComponent'
})

</script>

<style lang='scss' scoped></style>