<template>
    <div class="grid grid-cols-4 gap-8 max-[1150px]:grid-cols-2 max-[565px]:grid-cols-1">
        <div v-for="(card, i) in cardData" :key="i" class="w-full relative card">
            <div :style="{ backgroundImage: 'url(' + card.pic + ')', backgroundRepeat: 'no-repeat', backgroundPosition: 'center', backgroundSize: 'contain' }"
                class="w-full h-[250px] p-5 shadow-[0_4px_10px_0px_rgba(0,0,0,0.25)] bg-white rounded-[10px] img-area"></div>

            <div
                class="bg-primary-100 text-white p-5 rounded-b-[10px] tracking-widest absolute top-0 left-0 w-full opacity-0 content-area">
                <h2 class="text-[24px] mb-2">{{ card.title }}</h2>
                <ul class="list-disc pl-5">
                    <li v-for="(list, idx) in card.content" :key="idx" class="text-base mb-1 font-light">
                        {{ list }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>



<script setup lang='ts'>
import { defineComponent, ref } from 'vue';

const cardData = ref([{
    pic: 'images/image/pic-corporate4.svg',
    title: '落實公司治理',
    content: ['督促ＣＳＲ實踐，檢討並持續改善', '避免不公平競爭，反賄絡貪賭']
}, {
    pic: 'images/image/pic-corporate2.svg',
    title: '發展永續環境',
    content: ['實施節能減碳', '減少能源消耗']
}, {
    pic: 'images/image/pic-corporate3.svg',
    title: '加強資訊揭露',
    content: ['依相關法規辦理資訊公開，以提升資訊透明度', '加強資訊揭露品質及資訊便利性']
}, {
    pic: 'images/image/pic-corporate1.svg',
    title: '維護社會公益',
    content: ['營造健康，安全職場環境', '遵守勞動規範，保障員工權益', '重視人權，兩性平等']
}])

defineComponent({
    name: 'CorporateCardComponent'
})
</script>


<style lang='scss' scoped>
.card {
    @media screen and (max-width: 1150px) {
        margin-bottom: 100px;
    }

    &:hover {
        .img-area {
            transition: all ease 0.5s;
            transform: translateY(-100px);
            border-radius: 10px 10px 0px 0px;

            +.content-area {
                opacity: 1;
                transition: all ease 0.5s;
                transform: translateY(145px);
                box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }
}
</style>