<template>
    <footer class="bg-primary-100 py-10 text-white ">
        <div class="flex justify-center mb-2">
            <ul class="w-[60%] flex justify-between items-center">
                <li>
                    <img src="@/assets/images/logo/eason-logo-white.png" class="min-w-[133px]">
                </li>

                <li class="text-sm tracking-[0.25em]">
                    <p class="mb-4">毅聲科技有限公司</p>
                    <div class="mb-4">
                        <p>
                            <img src="@/assets/images/icon/icon-flag.png" class="inline">
                            220 新北市板橋區雙十路二段10號8樓
                        </p>
                        <p>
                            <img src="@/assets/images/icon/icon-phone.png" class="inline">
                            +886 2 6606 6358
                        </p>
                        <p>
                            <img src="@/assets/images/icon/icon-envelope.png" class="inline">
                            service@easontech.com.tw
                        </p>
                    </div>
                </li>
                <li>
                    <a href="https://www.104.com.tw/company/ck55rug" target="_blank">
                        <img src="@/assets/images/image/pic-104.png" class="min-w-[104px]">
                    </a>
                </li>
            </ul>
        </div>

        <p class="w-fit mx-auto"><span class="mr-2">&copy;</span>2023. All Rights Reserved.</p>
    </footer>
</template>

<script setup lang="ts">
import { defineComponent } from 'vue';



defineComponent({
    name: 'FooterComponent'
});
</script>

<style lang="scss" scoped>
footer {
    @media screen and (max-width: 1030px) {
        padding: 25px 0;

        ul {
            flex-direction: column;
            width: 95%;
            margin-bottom: 10px;

            li:nth-child(2) {
                margin: 20px 0 10px;
            }
        }
    }
}
</style>