<template>
  <header>
    <router-link :to="ROUTING_PATH.HOME">
      <img src="@/assets/images/logo/eason-logo.png" width="100">
    </router-link>

    <div class="xl:hidden cursor-pointer ml-auto" @click="showMenu">
      <img src="@/assets/images/icon/icon-menu.png" class="w-8">
    </div>

    <div class="mobile-nav invisible xl:visible" @mouseleave="hideMenu">
      <nav>
        <router-link :to="ROUTING_PATH.ABOUT">
          關於毅聲
        </router-link>

        <router-link :to="ROUTING_PATH.SERVICE">
          產品服務
        </router-link>

        <router-link :to="ROUTING_PATH.COMPANY">
          企業永續
        </router-link>


        <router-link :to="ROUTING_PATH.CONTACT">
          聯絡我們
        </router-link>

      </nav>
    </div>
  </header>
</template>

<script setup lang="ts">
import { ROUTING_PATH } from '@/consts/routing-path.const';
import { defineComponent } from 'vue';

const showMenu = () => {
  const mobileNav = document.querySelector('.mobile-nav');
  mobileNav?.classList.toggle('invisible');
};
const hideMenu = () => {
  const mobileNav = document.querySelector('.mobile-nav');
  mobileNav?.classList.add('invisible');
};

defineComponent({
  name: 'HeaderComponent'
});
</script>

<style lang="scss" scoped>
header {
  min-height: 80px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

nav {
  a {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px;
    display: inline-block;
    padding: 6px 10px;
    width: 120px;
    text-align: center;
    border-radius: 40px;

    &:hover {
      background-color: #445277;
      color: white;

    }

    &.router-link-active {
      background-color: #445277;
      color: white;
    }
  }

  .contact-btn {
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    padding: 8px 10px;
    background-color: #445277;
    color: white;
    border-radius: 40px;
    width: 120px;
    text-align: center;

    &:hover {
      background-color: rgba(#445277, 0.9);
    }
  }
}


.mobile-nav {

  @media screen and (max-width: 1279px) {
    opacity: 1;
    position: absolute;
    top: 83px;
    right: 3px;
    background: #ffffff;
    padding: 15px 10px;
    width: 200px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 100;

    nav {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        padding: 10px 0;
        margin-bottom: 10px;
      }
    }
  }
}
</style>