<template>
    <div class="w-[85%] mx-auto max-[700px]:w-[98%]">
        <Swiper :modules="modules" class="mySwiper" :navigation="true" :scrollbar="true">
            <SwiperSlide v-for="(data, i) in infoData" :key="i">
                <div
                    class="grid grid-cols-4 gap-8 p-16 max-[1100px]:grid-cols-3 max-[996px]:p-2 max-[700px]:grid-cols-2 max-[700px]:gap-5 max-[700px]:pb-10">
                    <div v-for="(item, idx) in data.company"
                        class="card relative py-2 rounded-[13px] shadow-[0_1px_10px_0px_rgba(0,0,0,0.25)]">
                        <div class="w-[95%] h-[150px] mx-auto flex items-center justify-center">
                            <img :src="item.logo">
                        </div>

                        <div class="content py-2 pr-2"
                            :class="{ 'pl-7': !callCenter, 'overflow-y-scroll': (item.callCenter?.two && callCenter) || item.content.length >= 4 }">
                            <ul v-if="!callCenter">
                                <li v-for="(text, idnx) in item.content" class="list-disc">
                                    {{ text }}
                                </li>
                            </ul>

                            <div v-else class="w-[125px] m-auto max-[414px]:w-[112px]">
                                <div v-if="item.callCenter?.one.name !== ''" :class="{'mb-4': item.callCenter?.two }" >
                                    <p class="mb-1">{{ item.callCenter?.one.name }}</p>
                                    <p>席次數 {{ item.callCenter?.one.seats }}</p>
                                    <p>建置日 {{ item.callCenter?.one.date }}</p>
                                </div>

                                <div v-if="item.callCenter?.two?.name !== '' && item.callCenter?.two" class="mb-4">
                                    <p class="mb-1">{{ item.callCenter?.two?.name }}</p>
                                    <p>席次數 {{ item.callCenter?.two?.seats }}</p>
                                    <p>建置日 {{ item.callCenter?.two?.date }}</p>
                                </div>

                                <div v-if="item.callCenter?.three?.name !== '' && item.callCenter?.three">
                                    <p class="mb-1">{{ item.callCenter?.three?.name }}</p>
                                    <p>席次數 {{ item.callCenter?.three?.seats }}</p>
                                    <p>建置日 {{ item.callCenter?.three?.date }}</p>
                                </div>
                            </div>



                        </div>
                    </div>


                </div>
            </SwiperSlide>
        </Swiper>
    </div>
</template>


<script setup lang='ts'>
import { defineComponent, ref } from 'vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Navigation, Pagination, Scrollbar } from 'swiper/modules';
import 'swiper/scss';
import 'swiper/scss/navigation';
import 'swiper/scss/pagination';
import 'swiper/scss/scrollbar';

const props = defineProps({
    callCenter: {
        type: Boolean,
        default: false
    }
})

const modules = [Navigation, Pagination, Scrollbar];

const infoData = ref([{
    company: [
        {
            logo: 'images/company/logo-service-1.svg',
            name: '宏泰人壽(電銷)',
            content: [
                '客服中心',
                '電銷中心',
            ],
            callCenter: {
                one: {
                    name: '宏泰人壽(電銷)',
                    seats: '15席',
                    date: '2018/10'
                },
                two: {
                    name: '宏泰人壽(電銷)',
                    seats: '10席',
                    date: '2016/05'
                }
            }
        },
        {
            logo: 'images/company/logo-service-2.svg',
            name: '巴黎人壽',
            content: [
                '官方手機APP',
                '平板房貸壽險APP',
                'Excel Proposal',
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-3.svg',
            name: '第一金人壽',
            content: [
                'Excel Proposal'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-4.svg',
            name: '中華電信',
            content: [
                '雲端Call Center平台Upgrade400席',
                '電銷系統',
                'IP Fax',
                '雲端Call Center異地備元平台'
            ],
            callCenter: {
                one: {
                    name: '中華電信(雲端服務)(Upgrade)',
                    seats: '125席',
                    date: '2021/08'
                },
                two: {
                    name: '中華電信(委外客服+電銷)',
                    seats: '1200席',
                    date: '2007~2012'
                },
                three: {
                    name: '中華電信(雲端服務)(Upgrade)',
                    seats: '400席',
                    date: '2020/09'

                }
            }
        },
        {
            logo: 'images/company/logo-service-5.svg',
            name: '合庫人壽',
            content: [
                '網路投保(EUL)',
                'B2C手機版',
                '投資管理系統(投資/交割/簽核)',
                '電子要保書',
                '官方APP',
                'HTML建議書',
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }

            }
        },
        {
            logo: 'images/company/logo-service-6.svg',
            name: '明台產險(客服)',
            content: [
                '客服系統更新案'
            ],
            callCenter: {
                one: {
                    name: '明台產險(客服)',
                    seats: '20席',
                    date: '2020/07'
                }
            }
        },
        {
            logo: 'images/company/logo-service-7.svg',
            name: '新光人壽',
            content: [
                '網路投保系統'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-8.svg',
            name: '富邦人壽',
            content: [
                '官方手機APP',
                '保代平板建議書',
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-9.svg',
            name: '全球人壽',
            content: [
                '壽險核心系統顧問服',
                '團險系統',
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-10.svg',
            name: '保誠人壽(電銷)',
            content: [
                '5個電銷中心建置與維運(255席)',
                'Excel建議書',
                '網頁版建議書(.net)',
            ],
            callCenter: {
                one: {
                    name: '保誠人壽(電銷)',
                    seats: '250席',
                    date: '2015/12'
                }
            }
        },
        {
            logo: 'images/company/logo-service-11.svg',
            name: '富邦產險(客服)',
            content: [
                '客服系統更新案',
                '問問機器人整合案',
            ],
            callCenter: {
                one: {
                    name: '富邦產險(客服)',
                    seats: '46席',
                    date: '2020/10'
                }
            }
        },
        {
            logo: 'images/company/logo-service-12.svg',
            name: '保德信人壽',
            content: [
                '壽險核心系統顧問服務'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        }
    ]
}, {
    company: [
        {
            logo: 'images/company/logo-service-13.svg',
            name: '香港寬頻',
            content: [
                '各式家庭IOT設備整合與APP'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-14.svg',
            name: '安睿投顧',
            content: [
                '基金管理系統'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-15.svg',
            name: '元大證券',
            content: [
                '客服管理系統'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-16.svg',
            name: '友邦人壽',
            content: [
                '平板保費試算APP'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }

            }
        },
        {
            logo: 'images/company/logo-service-17.svg',
            name: '南山產物',
            content: [
                'EC&Agent Portal前端',
                'Line@社群機器人流程設計與文字客服'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }

            }
        },
        {
            logo: 'images/company/logo-service-18.svg',
            name: '紐約人壽',
            content: [
                '3個銀行外點電銷系統'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }
            }
        },
        {
            logo: 'images/company/logo-service-19.svg',
            name: '三商美邦',
            content: [
                '業務員新報聘',
                '商品專區',
                '高齡錄音'
            ],
            callCenter: {
                one: {
                    name: '',
                    seats: '',
                    date: ''
                }

            }
        },
        {
            logo: 'images/company/logo-service-22.png',
            name: '健康力',
            content: [
                '電銷系統',
                '客服系統'
            ],
            callCenter: {
                one: {
                    name: '健康力(電銷+客服)',
                    seats: '60席',
                    date: '2016/05'
                }
            }
        },
        {
            logo: 'images/company/logo-service-23.png',
            name: 'VIZIO 瑞軒',
            content: [
                '客服系統'
            ],
            callCenter: {
                one: {
                    name: '瑞軒電視(客服)',
                    seats: '5席',
                    date: '2011/03'
                }

            }
        },
        {
            logo: 'images/company/logo-service-24.png',
            name: '元大人壽',
            content: [
                '電銷系統'
            ],
            callCenter: {
                one: {
                    name: '元大人壽(上海商銀電銷)',
                    seats: '30席',
                    date: '2010/12'
                },
                two: {
                    name: '元大人壽(中國信託電銷)',
                    seats: '45席',
                    date: '2010/12'
                },
                three: {
                    name: '元大人壽(台新銀行電銷)',
                    seats: '60席',
                    date: '2010/03'
                }

            }
        },
        {
            logo: 'images/company/logo-service-25.png',
            name: '全球一動',
            content: [
                '客服系統'
            ],
            callCenter: {
                one: {
                    name: '全球一動(客服)',
                    seats: '5席',
                    date: '2010/10'
                },
                two: {
                    name: '全球直校行銷(電銷)',
                    seats: '180席',
                    date: '2009/04'
                }

            }
        },
        {
            logo: 'images/company/logo-service-26.png',
            name: '第一金投信',
            content: [
                '客服系統'
            ],
            callCenter: {
                one: {
                    name: '第一金投信(客服)',
                    seats: '10席',
                    date: '2010/09'
                }

            }
        }
    ]
}, {
    company: [
        {
            logo: 'images/company/logo-service-27.png',
            name: '奇美',
            content: [
                '客服系統'
            ],
            callCenter: {
                one: {
                    name: '奇美電視',
                    seats: '10席',
                    date: '2010/01'
                }
            }
        }
    ]
}])


defineComponent({
    name: 'ProjectComponent'
});
</script>

<style lang='scss' scoped>
.content {
    width: 100%;
    background-color: theme('colors.primary.100');
    color: white;
    position: absolute;
    height: 100%;
    border-radius: 13px;
    top: 0;
    display: none;
}

.card {
    &:hover {
        .content {
            display: flex;
        }
    }
}


.swiper-slide {
    padding: 5px 10px;
}
</style>