<template>
        <Swiper :modules="modules" class="mySwiper" :navigation="true">
            <SwiperSlide v-for="(pic, i) in imgData" :key="i">
                <div class="grid grid-cols-3 p-12 gap-6 max-[990px]:grid-cols-2 max-[990px]:gap-3 max-[520px]:grid-cols-1">
                    <div v-for="(p, idx) in pic" :key="idx" 
                        class="w-[80%] mx-auto flex items-center justify-center p-5 rounded-md shadow-[0_1px_10px_0px_rgba(0,0,0,0.15)]">
                        <img :src="p" class="w-[200px] max-[520px]:w-[90%]">
                    </div>
                </div>
            </SwiperSlide>
        </Swiper>
</template>


<script setup lang='ts'>
import { defineComponent, ref } from 'vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Navigation, Pagination } from 'swiper/modules';
import 'swiper/scss';
import 'swiper/scss/navigation';
import 'swiper/scss/pagination';

const modules = [Navigation, Pagination];
const imgData = ref([{
    pic1: 'images/company/logo-1.svg',
    pic2: 'images/company/logo-2.svg',
    pic3: 'images/company/logo-3.svg',
    pic4: 'images/company/logo-4.svg',
    pic5: 'images/company/logo-5.svg',
    pic6: 'images/company/logo-6.svg',
},
{
    pic1: 'images/company/logo-7.svg',
    pic2: 'images/company/logo-9.svg',
    pic3: 'images/company/logo-10.svg',
    pic4: 'images/company/logo-11.svg',
    pic5: 'images/company/logo-12.svg',
    pic6: 'images/company/logo-13.svg',
},
{
    pic1: 'images/company/logo-14.svg',
    pic2: 'images/company/logo-15.svg',
    pic3: 'images/company/logo-16.svg',
    pic4: 'images/company/logo-17.svg',
    pic5: 'images/company/logo-18.svg',
    pic6: 'images/company/logo-19.svg',
},
{
    pic1: 'images/company/logo-20.svg',
    pic2: 'images/company/logo-22.svg',
    pic3: 'images/company/logo-23.svg',
    pic4: 'images/company/logo-24.svg',
    pic5: 'images/company/logo-25.svg',
    pic6: 'images/company/logo-26.svg',
},
{
    pic1: 'images/company/logo-27.svg',
}])


defineComponent({
    name: 'ServedCompanyComponent'
});
</script>

<style lang='scss' scoped>
.mySwiper {
    // outline: 1px solid;
}

.swiper-slide {
    padding: 5px 10px;
}

</style>