<template>
    <div class="relative">
        <div class="">
            <Swiper :modules="modules" class="mySwiper" :centeredSlides="true" :loop="true" :navigation="true"
                :breakpoints="{
                    500: {
                        slidesPerView: 1.2,
                        spaceBetween: 120
                    },
                    990:{
                        slidesPerView: 1.3,
                        spaceBetween: 130
                    },
                    1100: {
                        slidesPerView: 1.5,
                        spaceBetween: 130
                    },
                    1260: {
                        slidesPerView: 1.7,
                        spaceBetween: 140
                    },
                    1300: {
                        slidesPerView: 1.7,
                        spaceBetween: 150
                    },
                    1480: {
                        slidesPerView: 2,
                        spaceBetween: 180
                    }
                }">
                <SwiperSlide v-for="(item, i) in itemData" :key="i">
                    <div class="p-4">
                        <div
                            class="service-item-card h-[272px] w-full mx-auto flex items-center rounded-full shadow-[0_4px_20px_0px_rgba(0,0,0,0.25)]">
                            <div class="serviceBox w-[272px] h-[100%] rounded-full mr-[5%]">
                                <img :src="item.pic">
                            </div>

                            <div class="max-w-[310px] pr-2 max-[800px]:pr-0 max-[800px]:text-center">
                                <p class="font-semibold text-2xl mb-2">{{ item.title }}</p>
                                <p class="text-sm text-black">{{ item.content }}</p>
                            </div>
                        </div>
                    </div>
                </SwiperSlide>
            </Swiper>
        </div>
    </div>
</template>


<script setup lang='ts'>
import { defineComponent, ref } from 'vue';
import { Swiper, SwiperSlide } from 'swiper/vue';
import { Navigation, Pagination } from 'swiper/modules';
import 'swiper/scss';
import 'swiper/scss/pagination';
import 'swiper/scss/navigation';

const modules = [Navigation, Pagination];
const itemData = ref([{
    pic: 'images/icon/icon-service.png',
    title: '套裝產品',
    content: '電話行銷管理系統(Outbound System)、客戶服務管理系統(Inbound System)、CRM客戶關係管理系統、傳真管理系統(FAX Server)、系統整合'
},
{
    pic: 'images/icon/icon-service-2.png',
    title: '專案開發及整合',
    content: '網頁系統開發、網站架設、系統整體委外管理'
},
{
    pic: 'images/icon/icon-service-3.png',
    title: '行動服務應用開發',
    content: '網頁系統開發、網站架設、系統整體委外管理'
},
{
    pic: 'images/icon/icon-service-4.png',
    title: '代理產品',
    content: 'CosmoCom IP Contact Center, Enghouse IVR, FaxBack IP Fax, Sytel PDS'
},
{
    pic: 'images/icon/icon-service-5.png',
    title: '社群服務',
    content: '整合LINE、Facebook、WeChat等社群平台，提供社群行銷及社群客服'
}, {
    pic: 'images/icon/icon-service-6.png',
    title: 'IOT應用服務',
    content: '提供服務於Cloud Platform的IoT整合開發'
}])


defineComponent({
    name: 'ServiceItemComponent'
});
</script>

<style lang='scss' scoped>
.swiper-slide {
    opacity: 0.4;

    &.swiper-slide-active {
        opacity: 1;
    }
}

.service-item-card {
    @media screen and (max-width:800px) {
        flex-direction: column;
        width: 330px;
        height: 480px;
        box-shadow: none;

        .serviceBox {
            margin-right: 0;
            margin-bottom: 50px;
            width: 330px;
            height: 330px;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);

            @media screen and (max-width:490px){
width: 240px;
height: 240px;
            }
        }
    }
}

.serviceBox {
    background-image: url('@/assets/images/icon/icon-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
</style>