<template>
<Header/>
<main id="content">
     <router-view />
</main>
<Footer/>
</template>



<script setup lang='ts'>
import Header from './components/Header.vue';
import Footer from './components/Footer.vue';
</script>

<style lang='scss'>
@import "@/assets/scss/main.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
</style>
